* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}

.container {
    width: 70%;
    height: auto;
    position: relative;
    text-align: justify;
}

form {
    position: relative;
    margin: auto;
    padding-left: 35%;
    display: inline-flexbox;
}

form input {
    margin: 1%;
    width: 40%;
    height: 25px;
    border: rgb(0, 0, 0) solid 1px;
    text-decoration: rgb(149, 78, 114);
}

h2 {
    margin-left: 60%;
    padding: 3%;
    color: chocolate;
    size: 15px;
}

button {
    width: 30%;
}

.Table {
    border: solid 1px black;
    width: 100%;
    height: auto;
}